<!DOCTYPE html>
<html>
    <head>
        <title>Sam's blog</title>
    </head>
    <body>
        <header>
            <h2> 자화상 - 윤동주</h2>
        </header>
        <hr size="10" noshade="noshade" >
        <header>
            <div style="text-align: center; font-size: large; font-weight: bold;" >
                <자화상>
            </div>
            <br>
            <div style="text-align: center;">
                <b><U> 윤동주 </b></U>
            </div>
        </header>
        <br>
        <hr width="50%" >
        <br>
        <article>
            <div style="line-height: 2.5;">
                산모퉁이를 돌아아 논가 외딴 우물을 홀로 찾아가선 가만히 들여다봅니다. <br>
                우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있습니다"<br>
                그리고 한 사나이가 있습니다.<br>
                어쩐지 그 사나이가 미워져 돌아갑니다.<br>
                돌아가다 생각하니 그 사나이가 가엾어집니다. 도로 가 들여다보니 사나이는 그대로 있습니다.<br>
                다시 그 사나이가 미워져 돌아갑니다.<br>
                돌아가다 생각하니 그 사나이가 그리워집니다.<br>
                우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있고 추억처럼 사나이가 있습니다.<br>
            </div>
        </article>
        <aside>
            <h2> 윤동주 시인의 다른 시</h2>
            <div>
                <ul>
                    <li>서시</li> 
                    <li>자화상</li>
                    <li>눈오는 지도</li> 
                    <li>새로운 길</li> 
                    <li>길</li> 
                    <li>별 헤는 밤</li> 
                    <li>쉽게 씌어진 시</li> 
                    <li>참회록</li> 
                    <li>못 자는 밤</li> 
                    <li>비 오는 밤</li>
                    <li>소낙비</li> 
                </ul>
            </div>
        </aside>
        <hr>
        <footer>
            Ⓒ모바일웹서비스프로그래밍 Ⓡ2024
        </footer>
    </body>
</html>